{% extends 'authentication/base.html' %}
{% block content %}


     {% for s in semesters %}
     <div class="columns">
        <div class="column is-2">
           <aside class="menu">
               <p class="menu-label">Semesters</p>
               <ul class="menu-list">
                   <li><a class="is-active">Semesters</a></li>
                   <li><a href="{% url 'authentication:courses' s.pk s.period %}">{{s.period}}</a></li>
                   <!-- <li><a>{{e.location}}</a></li> -->
               </ul>
               {% empty %}
               <p>No Departments yet</p>
               
           </aside>
       </div>
      {% endfor %} 

      

    
</div>


    
    
   


{% endblock %}